<h3></h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
<p>
	<%= f.label :name %><br>
	<%= f.text_field(:username, {:class => 'form-control'})%>
</p>
<p>
	<%= f.label :comment %><br>
	<%= f.text_area(:body,{:class => 'form-control'}) %>
</p>
<p>
<%= f.submit({:class => 'btn btn-info'})%>
</p>
<% end %>
